<head>
  <meta charset="UTF-8" />
</head>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">Регистрация</h1>
    <div *ngIf="showError" class="alert alert-danger" role="alert">
      <span [innerHTML]="errorMessage"></span>
    </div>
    <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
      <div class="mb-3 row">
        <label for="userName" class="col-form-label col-sm-2">Имя пользователя:</label>
        <div class="col-md-5">
          <input type="text" id="userName" formControlName="userName" class="form-control" />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="email" class="col-form-label col-sm-2">Email:</label>
        <div class="col-md-5">
          <input type="email" id="email" formControlName="email" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('email') && hasError('email', 'email')">Пожалуйста проверьте правильность ввода</em>
          <em *ngIf="validateControl('email') && hasError('email', 'required')">Email требуется</em>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="password" class="col-form-label col-sm-2">Пароль:</label>
        <div class="col-md-5">
          <input type="password" id="password" formControlName="password" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('password') && hasError('password', 'required')">Пароль требуется</em>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="passwordConfirm" class="col-form-label col-sm-2">Подтвердите пароль:</label>
        <div class="col-md-5">
          <input type="password" id="passwordConfirm" formControlName="passwordConfirm" class="form-control" />
        </div>
        <div class="col-md-5">
          <em *ngIf="validateControl('passwordConfirm') && hasError('passwordConfirm', 'required')">Пароль требуется</em>
          <em *ngIf="hasError('passwordConfirm', 'mustMatch')">Пароли не совпадают</em>
        </div>
      </div>
      <br>
      <div class="mb-3 row">
        <div class="col-md-1">
          <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Регистрация</button>
        </div>
      </div>
    </form>
  </div>
</div>
