[*.cs]

# CS8618: Поле, не допускающее значения NULL, должно содержать значение, отличное от NULL, при выходе из конструктора. Возможно, стоит объявить поле как допускающее значения NULL.
dotnet_diagnostic.CS8618.severity = none

# CS8604: Возможно, аргумент-ссылка, допускающий значение NULL.
dotnet_diagnostic.CS8604.severity = none

# CS8600: Преобразование литерала, допускающего значение NULL или возможного значения NULL в тип, не допускающий значение NULL.
dotnet_diagnostic.CS8600.severity = none

# CA2016: Forward the 'CancellationToken' parameter to methods
dotnet_diagnostic.CA2016.severity = none

# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none

# CA2254: Template should be a static expression
dotnet_diagnostic.CA2254.severity = none

# IDE0022: Использовать тело блока для метода
dotnet_diagnostic.IDE0022.severity = none

# CS8603: Возможно, возврат ссылки, допускающей значение NULL.
dotnet_diagnostic.CS8603.severity = none

# IDE0055: Исправить форматирование
dotnet_diagnostic.IDE0055.severity = none
