.container {
  margin-left: 1%;
  max-width: 1600px;
}

svg {
  width: 100%;
  height: auto;
}

em {
  color: #e71515;
  font-weight: bold;
}

.ng-invalid.ng-touched {
  border-color: red;
}

.card {
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #cabcbc;
}

.btn-group {
    margin-left: 5px;
}

