<head>
  <meta charset="UTF-8" />
</head>

<div class="row">
  <div class="col-lg-6">
    <div class="card mb-3" align="left" style="max-width: 1200px; float:left">
      <div class="row g-0">
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Форма для заполнения</h5>
            <div *ngIf="showError" class="alert alert-danger" role="alert">
              {{errorMessage}}
            </div>
            <form id="CalculateForm" [formGroup]="createGabionForm" (ngSubmit)="onSubmit()">
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Материал:</label>
                <div class="col-sm-6">
                  <select formControlName="MaterialId" id="MaterialId" class="form-select" aria-label="Default select example" [(ngModel)]="formData.MaterialId" (ngModelChange)="setMaterialDiameter($event)">
                    <option [value]="0" [id]="0">Ничего не выбрано</option>
                    <option *ngFor="let item of apiResultCreateGab.result?.Materials; let i = index" [value]="item.Id" [id]="item.Id">{{item.FullName}}</option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label" for="MaterialDiameter">Диаметр материала,мм:</label>
                <div class="col-sm-6">
                  <input formControlName="MaterialDiameter" type="number" class="form-control" id="MaterialDiameter" readonly [(ngModel)]="formData.MaterialDiameter">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Длина,мм:</label>
                <div class="col-sm-6">
                  <input formControlName="Length" type="number" class="form-control" id="Length" [(ngModel)]="formData.Length" (change)="checkSize($event)">
                  <em *ngIf="validateControl('Length') && hasError('Length', 'required')">Поле обязательно для заполнения</em>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Ширина,мм:</label>
                <div class="col-sm-6">
                  <input formControlName="Width" type="number" class="form-control" id="Width" [(ngModel)]="formData.Width" (change)="checkSize($event)">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Высота,мм:</label>
                <div class="col-sm-6">
                  <input formControlName="Height" type="number" class="form-control" id="Height" [(ngModel)]="formData.Height">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Высота ячейки,мм:</label>
                <div class="col-sm-6">
                  <input formControlName="CellHeight" type="number" class="form-control" id="CellHeight" [(ngModel)]="formData.CellHeight">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Ширина ячейки,мм:</label>
                <div class="col-sm-6">
                  <input formControlName="CellWidth" type="number" class="form-control" id="CellWidth" [(ngModel)]="formData.CellWidth">
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Кол-во,шт:</label>
                <div class="col-sm-6">
                  <input formControlName="Quantity" type="number" class="form-control" id="Quantity" [(ngModel)]="formData.Quantity">
                </div>
              </div>
              <button type="submit" class="btn btn-dark mt-2" [disabled]="!createGabionForm.valid">Расчитать</button>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <img [src]="imageUrl" style="height:auto;width:100%" class="d-block mx-auto mt-5" alt="...">
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6" id="DescriptAnchor" style="display:none">
    <div id="card_descript" class="card mb-3" style="min-width: 600px;">
      <div id="row_descript" class="row g-0">
        <div class="col-md-6">
          <div class="card-body" id="PriceWeight">
            <h5 class="card-title">Результаты расчёта</h5>
            <p class="card-text">Кол-во: {{apiResultTempGab.result?.Quantity}} шт</p>
            <p class="card-text">Себестоимость: {{apiResultTempGab.result?.Sebes}} сом</p>
            <p class="card-text">Общая себестоимость: {{apiResultTempGab.result?.BatchSebes}} сом</p>
            <p class="card-text">Цена: {{apiResultTempGab.result?.Price}} сом</p>
            <p class="card-text">Общая стоимость: {{apiResultTempGab.result?.BatchPrice}} сом</p>
            <p class="card-text">Расход материала: {{apiResultTempGab.result?.MaterialTotalLength}} м</p>
            <p class="card-text">Вес 1 шт: {{apiResultTempGab.result?.Weight}} кг</p>
            <p class="card-text">Вес {{apiResultTempGab.result?.Quantity}} шт: {{apiResultTempGab.result?.BatchWeight}} кг</p>
            <p class="card-text">Длина верт-го прутка: {{apiResultTempGab.result?.BarBilletVert}} м</p>
            <p class="card-text">Кол-во верт-х прутков: {{apiResultTempGab.result?.BarsQtyVert}} шт</p>
            <p class="card-text">Длина гориз-го прутка: {{apiResultTempGab.result?.BarBilletHoriz}} м</p>
            <p class="card-text">Кол-во гориз-х прутков: {{apiResultTempGab.result?.BarsQtyHoriz}} шт</p>
            <p class="card-text">Ширина карты: {{apiResultTempGab.result?.CardWidth}} мм</p>
            <p class="card-text">Высота карты: {{apiResultTempGab.result?.CardHeight}} мм</p>
            <p class="card-text">Материал: {{apiResultTempGab.result?.Material?.FullName}}</p>
          </div>
        </div>
        <div class="col-md-6" id="Svg"></div> 
      </div>
    </div>
  </div>
</div>
