<head>
  <meta charset="UTF-8" />
</head>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-3" align="left" style="max-width: 1200px; float:left">
        <div class="row g-0">
          <div class="col-md-6">
            <div class="card-body">
              <h2 class="card-title">Форма для заполнения</h2>
              <div *ngIf="showError" class="alert alert-danger" role="alert">
                {{errorMessage}}
              </div>
              <form id="CalculateForm" [formGroup]="createGabionForm" (ngSubmit)="onSubmit()">
                <div class="row mb-3">
                  <label class="col-sm-4 col-form-label">Материал:</label>
                  <div class="col-sm-6">
                    <select formControlName="MaterialId" id="MaterialId" class="form-select" aria-label="Default select example" [(ngModel)]="formData.MaterialId" (ngModelChange)="setMaterialDiameter($event)">
                      <option [value]="0" [id]="0">Ничего не выбрано</option>
                      <option *ngFor="let item of apiResultCreateGab.result?.Materials; let i = index" [value]="item.Id" [id]="item.Id">{{item.FullName}}</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-4 col-form-label">Диаметр мат-ла,мм:</label>
                  <div class="col-sm-6">
                    <input formControlName="MaterialDiameter" type="number" class="form-control" id="MaterialDiameter" readonly [(ngModel)]="formData.MaterialDiameter" autocomplete="on">
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-4 col-form-label" for="Length">Длина,мм:</label>
                  <div class="col-sm-6">
                    <input formControlName="Length" type="number" class="form-control" id="Length" [(ngModel)]="formData.Length" (change)="checkSize($event)" autocomplete="on">
                    <em *ngIf="validateControl('Length') && hasError('Length', 'required')">Поле обязательно для заполнения</em>
                    <em *ngIf="validateControl('Length') && hasError('Length', 'min')">Значение должно быть не меньше 250</em>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-4 col-form-label" for="Width">Ширина,мм:</label>
                  <div class="col-sm-6">
                    <input formControlName="Width" type="number" class="form-control" id="Width" [(ngModel)]="formData.Width" (change)="checkSize($event)" autocomplete="on">
                    <em *ngIf="validateControl('Width') && hasError('Width', 'required')">Поле обязательно для заполнения</em>
                    <em *ngIf="validateControl('Width') && hasError('Width', 'min')">Значение должно быть не меньше 250</em>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-4 col-form-label" for="Height">Высота,мм:</label>
                  <div class="col-sm-6">
                    <input formControlName="Height" type="number" class="form-control" id="Height" [(ngModel)]="formData.Height" autocomplete="on">
                    <em *ngIf="validateControl('Height') && hasError('Height', 'required')">Поле обязательно для заполнения</em>
                    <em *ngIf="validateControl('Height') && hasError('Height', 'min')">Значение должно быть не меньше 200</em>
                    <em *ngIf="validateControl('Height') && hasError('Height', 'max')">Значение должно быть не больше 2000</em>
                    <em *ngIf="validateControl('Height') && hasError('Height', 'noDivide')">Значение должно быть кратно 100</em>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-4 col-form-label" for="CellHeight">Высота ячейки,мм:</label>
                  <div class="col-sm-6">
                    <input formControlName="CellHeight" type="number" class="form-control" id="CellHeight" [(ngModel)]="formData.CellHeight" autocomplete="on">
                    <em *ngIf="validateControl('CellHeight') && hasError('CellHeight', 'required')">Поле обязательно для заполнения</em>
                    <em *ngIf="validateControl('CellHeight') && hasError('CellHeight', 'min')">Значение должно быть не меньше 50</em>
                    <em *ngIf="validateControl('CellHeight') && hasError('CellHeight', 'max')">Значение должно быть не больше 100</em>
                    <em *ngIf="validateControl('CellHeight') && hasError('CellHeight', 'noDivide')">Значение должно быть кратно 50</em>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-4 col-form-label" for="CellWidth">Ширина ячейки,мм:</label>
                  <div class="col-sm-6">
                    <input formControlName="CellWidth" type="number" class="form-control" id="CellWidth" [(ngModel)]="formData.CellWidth" autocomplete="on">
                    <em *ngIf="validateControl('CellWidth') && hasError('CellWidth', 'required')">Поле обязательно для заполнения</em>
                    <em *ngIf="validateControl('CellWidth') && hasError('CellWidth', 'min')">Значение должно быть не меньше 50</em>
                    <em *ngIf="validateControl('CellWidth') && hasError('CellWidth', 'max')">Значение должно быть не больше 100</em>
                    <em *ngIf="validateControl('CellWidth') && hasError('CellWidth', 'noDivide')">Значение должно быть кратно 50</em>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-4 col-form-label" for="Quantity">Кол-во,шт:</label>
                  <div class="col-sm-6">
                    <input formControlName="Quantity" type="number" class="form-control" id="Quantity" [(ngModel)]="formData.Quantity" autocomplete="on">
                    <em *ngIf="validateControl('Quantity') && hasError('Quantity', 'required')">Поле обязательно для заполнения</em>
                    <em *ngIf="validateControl('Quantity') && hasError('Quantity', 'min')">Значение должно быть не меньше 1</em>
                  </div>
                </div>
                <button type="submit" class="btn btn-dark mt-2" [disabled]="!createGabionForm.valid">Расчитать</button>
              </form>
            </div>
          </div>
          <div class="col-md-4">
            <img [src]="imageUrl" style="height:auto;width:100%" class="d-block mx-auto mt-5" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" id="DescriptAnchor" style="display:none">
      <div id="card_descript" class="card mb-3" style="min-width: 600px;">
        <div id="row_descript" class="row g-0">
          <div class="col-md-5">
            <div class="card-body" id="PriceWeight">
              <h2 class="card-title">Результаты расчёта</h2>
              <p class="card-text">Кол-во: {{apiResultTempGab.result?.Quantity}} шт</p>
              <p *ngIf="isUserAuthenticated" class="card-text">Себестоимость: {{roundNumber(apiResultTempGab.result?.Sebes)}} сом</p>
              <p *ngIf="isUserAuthenticated" class="card-text">Общая себестоимость: {{roundNumber(apiResultTempGab.result?.BatchSebes)}} сом</p>
              <p class="card-text">Цена: {{roundNumber(apiResultTempGab.result?.Price)}} сом</p>
              <p class="card-text">Общая стоимость: {{roundNumber(apiResultTempGab.result?.BatchPrice)}} сом</p>
              <p *ngIf="isUserAuthenticated" class="card-text">Расход мат-ла на 1 шт: {{roundNumber(apiResultTempGab.result?.MaterialTotalLength)}} м</p>
              <p class="card-text">Вес 1 шт: {{roundNumber(apiResultTempGab.result?.Weight)}} кг</p>
              <p class="card-text">Вес {{apiResultTempGab.result?.Quantity}} шт: {{roundNumber(apiResultTempGab.result?.BatchWeight)}} кг</p>
              <p *ngIf="isUserAuthenticated" class="card-text">Цена мат-ла на 1 шт: {{roundNumber(apiResultTempGab.result?.PriceMaterial)}} сом</p>
              <p *ngIf="isUserAuthenticated" class="card-text">Общая стоим-ть мат-ла: {{roundNumber(apiResultTempGab.result?.PriceMaterialBatch)}} сом</p>
              <p *ngIf="isUserAuthenticated" class="card-text">Ширина карты: {{apiResultTempGab.result?.CardWidth}} мм</p>
              <p *ngIf="isUserAuthenticated" class="card-text">Высота карты: {{apiResultTempGab.result?.CardHeight}} мм</p>
              <p class="card-text">Материал: {{apiResultTempGab.result?.Material?.FullName}}</p>
            </div>
            <div class="btn-group">
              <button *ngIf="isUserAuthenticated" type="button" id="saveBtn" class="btn btn-dark" (click)="post()">Сохранить</button>
              <button *ngIf="isUserAuthenticated" type="button" id="drawingBtn"
                      printSectionId="draw_card" class="btn btn-success" ngxPrint disabled
                      [useExistingCss]="true">
                Чертёж
              </button>
              <button *ngIf="isUserAuthenticated" type="button" id="calculationBtn"
                      printSectionId="calculation_card" class="btn btn-success" ngxPrint disabled
                      [useExistingCss]="true" (click)="makeFlex()">
                Калькуляция
              </button>
            </div>
          </div>
          <div class="col-md-7 mb-3" id="Svg"></div>  
        </div>
      </div>
    </div>
  </div>
</div>

<div #draw_card id="draw_card" class="card mb-3" style="display:none;">
  <!-- Content to be printed -->
  <div id="svg_draw" class="card-img-top"></div>
  <div id="notes_draw" class="card-body"></div>
  <div id="stamp_draw" class="card-body"></div>
</div>

<div #calculation_card id="calculation_card" class="card mb-3" style="display:none;">
  <!-- Content to be printed -->
  <div id="notes_calculation" class="card-body"></div>
  <div id="svg_calculation" class="card-img-top"></div>
</div>
