<head>
  <meta charset="UTF-8" />
</head>

<div class="container my-5">
  <h1 class="mb-3">Список материалов</h1>
  <h2 class="mb-3" *ngIf="!apiResult.result || apiResult.result.length == 0">Материалы ещё не добавлены</h2>
  <table class="table table-dark table-hover" *ngIf="apiResult.result && apiResult.result.length > 0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Наим-е</th>
        <th scope="col">Тип материала</th>
        <th scope="col">Цена за кг,coм</th>
        <th scope="col">Дата обнов-я</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of apiResult.result">
        <th scope="row">{{m.Id}}</th>
        <td>{{m.FullName}}</td>
        <td>{{m.MaterialKindId}}</td>
        <td>{{m.PricePerKg}}</td>
        <td>{{m.DateUpdate | date:'MM/dd/yyyy HH:mm:ss'}}</td>
      </tr>
    </tbody>
  </table>
</div>
