<head>
  <meta charset="UTF-8" />
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Габион-Калькулятор</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isUserAdmin && isUserAuthenticated" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="Material/Materials">Материалы</a>
        </li>
        <li *ngIf='isUserAuthenticated' class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="Gabion/Gabions">Габионы</a>
        </li>
        <li *ngIf="isUserAdmin && isUserAuthenticated" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="CostWork/Update/1">Стоим-ть работ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['Material/Privacy']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">Privacy</a>
        </li>
      </ul>
      <ul *ngIf='!isUserAuthenticated' class="navbar-nav navbar-right mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="User/Login">Вход</a>
          </li>
      </ul>
      <ul *ngIf='isUserAuthenticated' class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="User/PrivateCabinet">Личный кабинет</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-link" style="color: #ffffff80; text-decoration: none;" (click)="logout()">Выход</button>
        </li>
      </ul>
    </div>
    </div>
</nav>  
<router-outlet></router-outlet>
<footer class="text-center">Бишкек 2023</footer>
