<head>
  <meta charset="UTF-8" />
</head>

<div class="container my-5">
  <h1 class="mb-3">Редактирование материала</h1>
  <form [formGroup]="editMaterialForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="Name" class="form-label">Наименование:</label>
      <select formControlName="Name" id="Name" class="form-select" aria-label="Default select example" [(ngModel)]="formData.Name">
        <option *ngFor="let item of apiResult.result?.Names; let i = index" [value]="item" [id]="item">{{item}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="Size">Размер, мм:</label>
      <input formControlName="Size" type="number" class="form-control" id="Size" [(ngModel)]="formData.Size">
      <em *ngIf="validateControl('Size') && hasError('Size', 'required')">Поле обязательно для заполнения</em>
      <em *ngIf="validateControl('Size') && hasError('Size', 'min')">Значение должно быть не меньше 0.5</em>
    </div>
    <div class="mb-3">
      <label for="MaterialKindId" class="form-label">Тип материала:</label>
      <select formControlName="MaterialKindId" class="form-select" [(ngModel)]="formData.MaterialKindId">
        <option *ngFor="let item of KindsMaterial; let i = index" [value]="i">{{item}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="PricePerKg" class="form-label" for="exampleCheck1">Цена за кг, сом:</label>
      <input formControlName="PricePerKg" type="number" class="form-control" id="PricePerKg" [(ngModel)]="formData.PricePerKg">
      <em *ngIf="validateControl('PricePerKg') && hasError('PricePerKg', 'required')">Поле обязательно для заполнения</em>
      <em *ngIf="validateControl('PricePerKg') && hasError('PricePerKg', 'min')">Значение должно быть не меньше 0</em>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!editMaterialForm.valid">Редактировать</button>
  </form>
</div>

