<head>
  <meta charset="UTF-8" />
</head>

<div class="container my-5">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="img-fluid rounded-start" [innerHtml]="svgSafeHtml"></div>
      </div>
      <div class="col-md-4">
        <div class="card-body" id="PriceWeight">
          <h2 class="card-title"># {{apiResultResponseGabion.result?.Id}}</h2>
          <p class="card-text">Кол-во: {{apiResultResponseGabion.result?.Quantity}} шт</p>
          <p class="card-text">Себестоимость: {{roundNumber(apiResultResponseGabion.result?.Sebes, true)}} сом</p>
          <p class="card-text">Общая себестоимость: {{roundNumber(apiResultResponseGabion.result?.BatchSebes, true)}} сом</p>
          <p class="card-text">Цена: {{roundNumber(apiResultResponseGabion.result?.Price, true)}} сом</p>
          <p class="card-text">Общая стоимость: {{roundNumber(apiResultResponseGabion.result?.BatchPrice, true)}} сом</p>
          <p class="card-text">Расход мат-ла на 1 шт: {{roundNumber(apiResultResponseGabion.result?.MaterialTotalLength, true)}} м</p>
          <p class="card-text">Вес 1 шт: {{roundNumber(apiResultResponseGabion.result?.Weight, false)}} кг</p>
          <p class="card-text">Вес {{apiResultResponseGabion.result?.Quantity}} шт: {{roundNumber(apiResultResponseGabion.result?.BatchWeight, false)}} кг</p>
          <p class="card-text">Цена мат-ла на 1 шт: {{roundNumber(apiResultResponseGabion.result?.PriceMaterial, true)}} сом</p>
          <p class="card-text">Общая стоим-ть мат-ла: {{roundNumber(apiResultResponseGabion.result?.PriceMaterialBatch, true)}} сом</p>
          <p class="card-text">Ширина карты: {{apiResultResponseGabion.result?.CardWidth}} мм</p>
          <p class="card-text">Высота карты: {{apiResultResponseGabion.result?.CardHeight}} мм</p>
          <p class="card-text">Материал: {{apiResultResponseGabion.result?.Material?.FullName}}</p>
          <p class="card-text">Исполнитель: {{apiResultResponseGabion.result?.User?.UserName}}</p>
        </div>
        <div class="btn-group">
          <button type="button" id="drawingBtn"
                  printSectionId="draw_card" class="btn btn-success" ngxPrint
                  [useExistingCss]="true" (click)="makeContent()">
            Чертёж
          </button>
          <button type="button" id="calculationBtn"
                  printSectionId="calculation_card" class="btn btn-success" ngxPrint
                  [useExistingCss]="true" [printStyle]="{ div: { display: 'inline-block' } }" (click)="makeContent()">
            Результаты
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div #draw_card id="draw_card" class="card mb-3" style="display:none;">
  <!-- Content to be printed -->
  <div id="svg_draw" class="card-img-top"></div>
  <div id="notes_draw" class="card-body"></div>
  <div id="stamp_draw" class="card-body"></div>
</div>

<div #calculation_card id="calculation_card" class="row g-0 mb-3" style="display:none;">
  <!-- Content to be printed -->
  <div id="notes_calculation" class="col-md-5"></div>
  <div id="svg_calculation" class="col-md-7 card-img-overlay"></div>
</div>
