.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.mat-mdc-paginator {
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 5px solid grey;
}

footer {
  margin-left: -12px;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 60px;
  text-align: center;
}

.mat-mdc-text-field-wrapper {
  background-color: black;
  color: white;
}

.my-form-field {
    margin-right: 10px;
}

.my-form-field:first-child {
  margin-left: -12px;
}


