<head>
  <meta charset="UTF-8" />
</head>

<div class="container my-5">
  <h1 class="mb-3">Список габионов</h1>
  <div class="row row-cols-1 g-4">
    <div class="card mb-3" *ngFor="let g of filteredGabions; let i = index" routerLink="/Gabion/Details/{{g.Id}}" style="cursor: pointer;" id="card-{{g.Id}}">
      <div class="row g-0">
        <div class="col-md-2" id="svg-{{g.Id}}" [innerHTML]="filtSvgSafeHtml[i]">         
        </div>
        <div class="col-md-10 ">
          <div class="card-body">
            <h2 class="card-title"># {{g.Id}}</h2>
            <h4 class="card-title">Наименование: Габион Ø{{g.Material?.Size}} {{g.Length}}x{{g.Width}}x{{g.Height}}, ячейка {{g.CellHeight}}x{{g.CellWidth}}</h4>
            <p class="card-text">Исполнитель: {{g.User?.UserName}}</p>
            <p class="card-text"><small class="text-muted">Дата создания: {{g.DateStart | date:'dd/MM/yyyy HH:mm:ss'}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="totalItems"
                 [pageSize]="itemsPerPage"
                 [pageIndex]="currentPage"
                 [pageSizeOptions]="[1,2]"
                 (page)="onPageChange($event)"
                 showFirstLastButtons>
  </mat-paginator>
</div>
