<head>
  <meta charset="UTF-8" />
</head>

<div class="container my-5">
  <h1 class="mb-3">Список габионов</h1>
  <div class="row row-cols-1 g-4">
    <div class="card mb-3" *ngFor="let g of apiResultListGabion.result" id="card-{{g.Id}}">
      <div class="row g-0">
        <div class="col-md-6" id="svg-{{g.Id}}">        
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
