<head>
  <meta charset="UTF-8" />
</head>

<div class="container my-5">
  <h1 class="mb-3">Список габионов</h1>

  <mat-form-field color="warn" class="my-form-field" [style.margin-left]="'-12px'">
    <mat-label>По дате:</mat-label>
    <mat-date-range-input [rangePicker]="picker" color="warn">
      <input matStartDate placeholder="Дата от:" [(ngModel)]="filterDateFrom" (dateChange)="getSrverData(itemsPerPage, currentPage, filterDateFrom, filterDateBefore, filterByExecut, filterMaterialName)">
      <input matEndDate placeholder="Дата до:" [(ngModel)]="filterDateBefore" (dateChange)="getSrverData(itemsPerPage, currentPage, filterDateFrom, filterDateBefore, filterByExecut, filterMaterialName)">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker" color="warn"></mat-datepicker-toggle>
    <mat-date-range-picker #picker color="warn"></mat-date-range-picker>
  </mat-form-field>
  <mat-form-field color="warn" class="my-form-field">
    <mat-label>По исполнителю:</mat-label>
    <input matInput [(ngModel)]="filterByExecut" placeholder="Исполнитель" (input)="getSrverData(itemsPerPage, currentPage, filterDateFrom, filterDateBefore, filterByExecut, filterMaterialName)" color="warn">
  </mat-form-field>
  <mat-form-field color="warn" class="my-form-field">
    <mat-label>По материалу:</mat-label>
    <mat-select [(ngModel)]="filterMaterialName" (selectionChange)="getSrverData(itemsPerPage, currentPage, filterDateFrom, filterDateBefore, filterByExecut, filterMaterialName)">
      <mat-option *ngFor="let m of listMaterials" [value]="m.FullName">{{ m.FullName }}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="warn" (click)="cleareFilters()">
    <mat-icon>clear</mat-icon>
    Очистить фильтры
  </button>


  <div class="row row-cols-1 g-4">
    <div class="card mb-3" *ngFor="let g of listGabions; let i = index" routerLink="/Gabion/Details/{{g.Id}}" style="cursor: pointer;" id="card-{{g.Id}}">
      <div class="row g-0">
        <div class="col-md-2" id="svg-{{g.Id}}" [innerHTML]="svgSafeHtml[i]">
        </div>
        <div class="col-md-10 ">
          <div class="card-body">
            <h2 class="card-title"># {{g.Id}}</h2>
            <h4 class="card-title">Наименование: Габион Ø{{g.Material?.Size}} {{g.Length}}x{{g.Width}}x{{g.Height}}, ячейка {{g.CellHeight}}x{{g.CellWidth}}</h4>
            <p class="card-text">Исполнитель: {{g.User?.UserName}}</p>
            <p class="card-text"><small class="text-muted">Дата создания: {{g.DateStart | date:'dd/MM/yyyy HH:mm:ss'}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer-container">
    <mat-paginator [length]="totalItems"
                   [pageSize]="itemsPerPage"
                   [pageIndex]="currentPage"
                   [pageSizeOptions]="[5,10,20,40]"
                   (page)="onPageChange($event)"
                   showFirstLastButtons
                   color="warn">
    </mat-paginator>
  </footer>
</div>

