<head>
  <meta charset="UTF-8" />
</head>

<div class="container my-5">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Сменить пароль для пользователя </h1>
      <div *ngIf="showError" class="alert alert-danger" role="alert">
        <span>{{errorMessage}}</span>
      </div>
      <form [formGroup]="changePasswordForm" novalidate (ngSubmit)="changePasswordUser(changePasswordForm.value)">
        <div class="mb-3 row">
          <label for="oldPassword" class="col-form-label col-sm-2">Текущий пароль:</label>
          <div class="col-md-5">
            <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control" />
            <em *ngIf="validateControl('oldPassword') && hasError('oldPassword', 'required')">Введите текущий пароль</em>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="newPassword" class="col-form-label col-sm-2">Новый пароль:</label>
          <div class="col-md-5">
            <input type="password" id="newPassword" formControlName="newPassword" class="form-control" />
            <em *ngIf="validateControl('newPassword') && hasError('newPassword', 'required')">Введите новый пароль</em>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="newPasswordConfirm" class="col-form-label col-sm-2">Новый пароль:</label>
          <div class="col-md-5">
            <input type="password" id="NewPasswordConfirm" formControlName="newPasswordConfirm" class="form-control" />
            <em *ngIf="validateControl('newPasswordConfirm') && hasError('newPasswordConfirm', 'required')">Повторите пароль</em>
            <em *ngIf="hasError('newPasswordConfirm', 'mustMatch')">Пароли не совпадают</em>
          </div>
        </div>
        <br>
        <div class="mb-3 row">
          <div class="col-md-1">
            <button type="submit" class="btn btn-success" [disabled]="!changePasswordForm.valid">Сменить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
