<head>
  <meta charset="UTF-8" />
</head>

<div class="container my-5">
  <h1 class="mb-3">Добавление материала</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="Name" class="form-label">Наименование:</label>
      <select name="Name" id="Name" class="form-select" aria-label="Default select example" [(ngModel)]="formData.Name">
        <option *ngFor="let item of apiResult.result?.Names; let i = index" [value]="item" [id]="item">{{item}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="Size">Размер, мм:</label>
      <input name="Size" type="number" class="form-control" id="Size" [(ngModel)]="formData.Size">
    </div>
    <div class="mb-3">
      <label for="MaterialKindId" class="form-label">Тип материала:</label>
      <select name="MaterialKindId" class="form-select" [(ngModel)]="formData.MaterialKindId">
        <option *ngFor="let item of KindsMaterial; let i = index" [value]="i">{{item}}</option>
      </select>
    </div>
    <div class="mb-3">
      <label form="PricePerKg" class="form-label" for="exampleCheck1">Цена за кг, сом:</label>
      <input name="PricePerKg" type="number" class="form-control" id="PricePerKg" [(ngModel)]="formData.PricePerKg">
    </div>
    <button type="submit" class="btn btn-primary">Создать</button>
  </form>
</div>


